---
import MainLayout from "../layouts/MainLayout.astro";

const title = "Pokemon Static | Home";

---

<MainLayout title={title}>
	<h1 class="text-6xl font-bold text-yellow-400 text-center drop-shadow-lg">Pokémon</h1>
</MainLayout>
